
/***************************
  Region Manager Menu link 
***************************/

div.region-manager-menu {
	padding: 6px;
	text-align: left;
	border: 1px solid #535353;
	background: #6e6e6e url(images/bg_dark.gif) repeat-x 0 bottom;
	clear: both;
}

div.region-manager-menu:hover {
	background-image: url(images/bg_dark-hover.gif);
}

.region-manager-menu a {
	line-height: 20px;
	padding-left: 56px;
	height: 18px;
	display: block;
	background: url(images/manage-icon.png) no-repeat;
	font-size: 12px;
	text-transform: uppercase;
	color: white !important;
}

/***************************
 Region Manager Admin form 
***************************/

#region-manager-blocks-form tr.module td {
	border-top: 1.5em solid #fff;
	border-bottom: 1px solid #b4d7f0;
	background-color: #d4e7f3;
	color: #455067;
	font-weight: bold;
}

/***************************
 Region Manager Manage form 
***************************/

#region-manager-manage-form td.rm-state {
	font-weight: bold;
	font-size: 1.2em;
}

#region-manager-manage-form table tbody{
	border: 0;
}

/***************************
        Create Menu 
***************************/

div.region-manager-create-menu div.item-list-wrapper {
	display: none;
}

/* @group Region Manager Block Operations */

#region-manager-manage-form td.operations {
	text-align: right;
	vertical-align: top;
	display: none;
}

html.js #region-manager-manage-form td.operations {
	display: block;
}

#region-manager-manage-form td.operations div.item-list ul,
#region-manager-manage-form td.operations div.item-list ul li {
	list-style: none;
	background: none;
	margin: 0;
	padding: 0;
	height: 36px;
}

#region-manager-manage-form td.operations li {
	display: inline;
}

#region-manager-manage-form td.operations li a,
a.region-manager-create-menu-link {
	display: block;
	float: right;
	text-align: left;
	text-indent: -9999px;
	height: 36px;
	background-repeat: no-repeat;
	background-position: 0 0;
	outline: 0;
}

#region-manager-manage-form td.operations li a:hover,
a.region-manager-create-menu-link:hover {
	background-position: 100% 0;
}

#region-manager-manage-form td.operations li.rm-block-configure-operation a {
	width: 108px;
	background-image: url(images/btn_configure.png);
}

#region-manager-manage-form td.operations li.rm-block-disable-operation a {
	width: 94px;
	background-image: url(images/btn_disable.png);
}

#region-manager-manage-form td.operations li.rm-block-add-operation a {
	width: 74px;
	background-image: url(images/btn_add.png);
}

#region-manager-manage-form td.operations li.rm-block-remove-operation a {
	width: 100px;
	background-image: url(images/btn_remove.png);
}

a.region-manager-create-menu-link {
	float: none;
	width: 89px;
	background-image: url(images/btn_create.png);
}

#region-manager-manage-form tr.locked li.rm-block-remove-operation,
#region-manager-manage-form tr.locked li.rm-block-disable-operation,
#region-manager-blocks-active_path td.operations li.rm-block-add-operation,
#region-manager-blocks-active_path tr.rm-state-disabled li.rm-block-remove-operation,
#region-manager-blocks-active td.operations li.rm-block-configure-operation,
#region-manager-blocks-disabled td.operations li.rm-block-configure-operation,
#region-manager-blocks-active td.operations li.rm-block-remove-operation,
#region-manager-blocks-disabled td.operations li.rm-block-remove-operation,
#region-manager-blocks-disabled td.operations li.rm-block-disable-operation {
	display: none;
}

/* @end */

tr.rm-state-populated,
#region-manager-manage-form td.weight,
#region-manager-manage-form td.state,
html.js #region-manager-manage-form div.region-manager-block-config-wrapper,
#region-manager-manage-form div.region-manager-block-config-wrapper div.form-radios {
	display: none;
}

html.js #region-manager-manage-form td.title-link a {
	display: inline;
}

html.js #region-manager-manage-form div.region-manager-block-config-wrapper div.form-radios {
	display: block;
	margin-left: 24px;
}

.region-manager-block-config-wrapper div.form-item {
	background-color: transparent;
	margin-left: 24px;
	background-image: none;
	margin-bottom: 12px;
}

.region-manager-block-config-wrapper input.region-manager-manage-form-title {
}

#region-manager-manage-form td.title-link {
	text-align: right;
}

#region-manager-manage-form .draggable a.tabledrag-handle {
	height: 100%;
	padding-right: 7px;
	margin-left: 0;
}

div.region-manager-create-menu {
	padding: 12px;
	border: 3px solid #a3a3a3;
	margin-top: 18px;
	margin-bottom: 18px;
	background: #f2f2f2 url(images/bg_gradient-tall.png) repeat-x 0 top;
}

.region-manager-create-menu h4 {
	margin: 2px 0 0;
	padding: 0;
}

#region-manager-blocks-active_path td.rm-state {
	font-size: 1.71em;
	padding-bottom: 6px;
	padding-top: 8px;
}

td.rm-state {
	color: #292929;
	padding-bottom: 6px;
	padding-top: 12px;
}

#region-manager-active-path-wrapper div.table-wrapper {
	border-width: 3px;
	border-color: #808080;
}

div.table-wrapper {
	border: 1px solid #cacaca;
	padding: 18px;
	margin-top: 18px;
	margin-bottom: 18px;
	border-bottom-color: #a3a3a3;
}

#region-manager-manage-form tr.odd td {
	background: url(images/bg_gradient-short.png) repeat-x 0 top !important;
}

#region-manager-manage-form td {
	padding-top: 6px;
	padding-bottom: 4px;
}

#region-manager-active-path-wrapper .region-manager-create-menu div.item-list-wrapper {
	border: 1px solid #e9e9e9;
	padding: 12px;
	background-color: white;
	margin-top: 8px;
	border-bottom-color: #dadada;
	color: #464646;
}

.region-manager-create-menu ul {
	padding: 0 !important;
}

.region-manager-create-menu ul li {
	border-top: 1px dotted #c8c8c8;
	margin: 0;
	list-style-type: none;
	line-height: 1em;
	padding: 0;
}

.region-manager-create-menu ul li a {
	line-height: 1em;
	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 12px;
	background: url(images/arrow.png) no-repeat 0 10px;
}

.region-manager-create-menu ul li a:hover {
	background: #f2f2f2 url(images/bg_gradient-short.png) repeat-x 0 -2px;
	text-decoration: none;
}

#region-manager-blocks-active_path tr.rm-state-active td,
#region-manager-blocks-active_path tr.rm-state-active,
#region-manager-blocks-active_path tr.rm-state-disabled td,
#region-manager-blocks-active_path tr.rm-state-disabled {
	background-color: #fbe28d !important;
	background-image: none !important;
	color: black !important;
}